<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPDoDUBK42bvcCLTgj5_vys2j9mQ2r_ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>462076822140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iethemsag.ThreadsApp</string>
	<key>PROJECT_ID</key>
	<string>threadsapp-6cab3</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsapp-6cab3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462076822140:ios:bc4b47ea5d1f61fb8abff9</string>
</dict>
</plist>